<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Datos de las materias</h3>
        </div>
        <div class="card-body">
            <form action="/schedule/materia" method="POST">

                <div class="form-group">
                    <select class="custom-select" name="title" id="validationDefault" value="{{title}}" required>
                        <option selected disabled value="">Seleccionar</option>
                        <option>MATERIA</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" style="text-transform: uppercase;" name="Mname" class="form-control" placeholder="Nombre" required>
                </div>

                {{!-- <div class="form-group">
                    <input type="number" name="Mtotal" class="form-control" placeholder="Numero total de materias"
                        required>
                </div> --}}

                <div class="form-group">
                    <input type="number" name="MidealHours" class="form-control"
                        placeholder="Hora ideal para impartir la clase" required>
                </div>

                <div class="form-group">
                    <input type="number" name="MmaxTimeDay" class="form-control" placeholder="Maximo de horas al dia"
                        required>
                </div>

                <div class="form-group">
                    <input type="number" name="MHoursWeek" class="form-control"
                        placeholder="Horas maximas a la semana por materia" required>
                </div>

                <div class="form-group">
                    <button class="btn btn-outline-info btn-block" type="submit">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>