<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Datos de las materias</h3>
        </div>
        <div class="card-body">
            <form action="/schedule/materia" method="POST">

                <div class="form-group">
                    <select class="custom-select" name="title" id="validationDefault" value="{{title}}" required>
                        <option selected disabled value="">Seleccionar</option>
                        <option>MATERIA</option> 
                    </select>
                </div>
                {{!-- MATERIA --}}
                <div class="form-group">
                    <input type="number" name="IDmateria" class="form-control" placeholder="ID de la Materia" required>
                </div>
                {{!-- CARRERA --}}
                <div class="form-group">
                    <input type="number" name="carrera" class="form-control" placeholder="ID de la Carrera" required>
                </div>

                {{!-- Hora minima --}}
                <div class="form-group">
                    <input type="number" name="hrsMin" class="form-control" placeholder="Hora minima por dia" required>
                </div>

                {{!-- Hora maxima --}}
                <div class="form-group">
                    <input type="number" name="hrsMax" class="form-control" placeholder="Hora maxima por semana" required>
                </div>


                <div class="form-group">
                    <button class="btn btn-outline-info btn-block" type="submit">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>